// optimization done

.container
  position relative
  overflow hidden
  margin 0 auto
  padding 24px 40px 0
  max-width 940px
  background #eeeeee

  .blog
    position relative
    float left
    width 74.4680851%
    margin-left 0
    margin-bottom 8px
    min-height 250px
    
header[role="banner"]
  float left
  width 23.4042553%
  min-height 120px

@media (min-width: 961px)
  .container
    max-width 1240px

    .blog 
      width 100%

  header[role="banner"]
    width 100%
